# .clangd

CompileFlags:
  Add:
    - -std=gnu++20
    - --target=x86_64-w64-mingw32
    - -nostdinc++
    - -nobuiltininc
    - -IC:/portable-programs/C-in-w64devkit-1.20.0/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++
    - -IC:/portable-programs/C-in-w64devkit-1.20.0/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++/x86_64-w64-mingw32
    - -IC:/portable-programs/C-in-w64devkit-1.20.0/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++/backward
    - -IC:/portable-programs/C-in-w64devkit-1.20.0/lib/gcc/x86_64-w64-mingw32/13.2.0/include
    - -IC:/portable-programs/C-in-w64devkit-1.20.0/x86_64-w64-mingw32/include
         
# end